body {
	font-family: 'Open Sans', sans-serif;
	padding: 20px;
    background: #f1f1f1;
}

/* Header */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Navbar */
.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none;
}

/* Card */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Active */
.active {
	background-color: #1919ff;
}

/* Forms */
input[type=text] {
    width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}